<html>
<style>
p {
    text-align: left;
    font-size: 45px;
    
}

li {
    font-size: 25px;
}

div {
    display: inline;
} 

</style>

<h1>Scrambled Eggs</h1>
<body>
    <div>
    <left><img src="images/eggNutrition.jpg" alt="Egg" style="width:300px;height:300px;"></left>
    <left><img src="https://media.giphy.com/media/STmold2zrhCaQ/giphy.gif" alt="Scrambled Eggs" style="width:300px;height:300px;"></left>
    </div> 
    <p>Here are your Ingredients:</p>
    <ul>   
        <li>1 Egg</li>
        <li>Salt</li>
        <li>Pepper</li> 
    </ul>
    <p>Here are your Instructions:</p>
    <ol>
        <li>BEAT eggs, milk, salt and pepper in bowl until blended.</li>
        <li>HEAT butter in large nonstick skillet over medium heat until hot. POUR IN egg mixture.</li>
        <li>As eggs begin to set, GENTLY PULL the eggs across the pan with an inverted turner, forming large soft curds. </li>
                
    </ol>
</body> 
</html> 



