<html>

<center><h1>Welcome to SPIS Eats!</center>
<center><h2>Use this website to prove that you can make food that is both cheaper and tastier
than either Cafe V or Canyon Vista! Refer to the options below to begin.</h2></center>

<head>
<style>
nav {
  background-color:black;
  height:50px;
}

nav ul li {
  list-style-type: none;
  width: 150px;
  float: left;
}

li a {
  text-decoration: none;
  color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  border-right: 1px solid #ccc;
}

li a hover{
  background-color: yellow;
  color: green;
}

</style>
</head>
<body>

<nav>
    <ul>
        <li><a href=''>Home</li>
        <li><a href=''>About</li>
        <li><a href=''>Budget</li>
        <li><a href=''>Spender</li>
    </ul>
</nav>
        

</html> 
