{% extends "layout.html" %}
{% block content %}
<style>
<font color="red">
</style>

<body>
<div id = "background"></div>
<center><h1>Welcome to SPIS Eats!</center></h1> 
<center><h2>Use this website to prove that you can make food that is both cheaper and tastier
than either Cafe V or Canyon Vista! Refer to the options below to begin.</h2></center>
<center><p>Spender: Eating For a Price </p></center>
<center><a href="/cheesecake"><button>Breakfast</button></a></center> 
<center><a href="/redpasta"><button>Lunch</button></a></center>
<center><a href="/seitan"><button>Dinner</button></a></center>

<center><p>Budget: Maintaining a Healthy Wallet</p></center>
<center><a href="/egg"><button>Breakfast</button></a></center> 
<center><a href="/ramen"><button>Lunch</button></a></center> 
<center><a href="/rice"><button>Dinner</button></a></center>
</body> 
</font>
{% endblock %} 


