<html>

<h1>Welcome to SPIS Eats!</h1>
<h2>Use this website to prove that you can make food that is both cheaper and tastier
than either Cafe V or Canyon Vista! Refer to the checklist below to begin.</h2>

<head>
    
</head> 

<body>
<div id="nav">
    <div id="nav_wrapper"></div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Breakfast</a></li>
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Dinner</a></li>
        </ul>
</body>


    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a href="127.0.0.1:5000/cheesecake">Breakfast</a>
        <a href="127.0.0.1:5000/redpasta">Lunch</a>
        <a href="127.0.0.1:5000/seitan">Dinner</a>
        <a href="127.0.0.1:5000/cheesecake">B Breakfast</a>
        <a href="127.0.0.1:5000/cheesecake">B Lunch</a>
        <a href="127.0.0.1:5000/cheesecake">B Dinner</a>

<p>What would you like?</p>
<label><input id type="checkbox" name="Breakfast">Breakfast</label>
<label><input id type="checkbox" name="Lunch">Lunch</label>
<label><input id type="checkbox" name="Dinner">Dinner</label>
<label><input id type="checkbox" name="Spender">Spender</label>
<label><input id type="checkbox" name="Budget">Budget</label>
<button type="submit">Submit</button> 




</html> 
