<html>
<style>
p {
    text-align: left;
    font-size: 45px;
    
}

li {
    font-size: 25px;
}

div {
    display: inline;
} 

</style>

<h1>Recipe</h1>
<body>
    <div>
    <left><img src="chickenNutrients.jpg" alt="Chicken Nutrients" style="width:300px;height:300px;"></left>
    <left><img src="http://i.imgur.com/gU0jv2M.gifv" alt="Simple Roast Chicken" style="width:300px;height:300px;"></left>
    </div> 
    <p>Here are your Ingredients:</p>
    <ul>
        <li>Chicken</li>
        <li>Salt</li>
        <li>Pepper</li>
    </ul>
    <p>Here are your Instructions:</p>
    <ol>
        <li>Put pan on high heat</li>
        <li>Add salt</li>
        <li>Add pepper to roast chicken</li>    
    </ol>
</body> 
</html> 



