{% extends "layout.html" %}
{% block content %}
<!-- <style>
p {
    text-align: left;
    font-size: 45px;
    
}

li {
    font-size: 25px;
}

div {
    display: inline;
}

#submit {
    position: absolute;
    top: 40px;
    right: 40px;
}


</style> -->

<h1>BBQ Seitan Strips</h1>
<body>
     <form class="submit" action= "/result"> 
        <input type="submit" name = "recipe" value="Save seitan">
    </form> 
    <div>
    <left><img src="https://cdn.shopify.com/s/files/1/0249/7764/files/Nutrition_Facts_481bb04a-3617-4a2b-91f3-2a06f62000de_large.jpg?6595" alt="BBQ Seitan Strips" style="width:300px;height:300px;"></left>
    <left><img src="https://thumbs.gfycat.com/HoarseMiserlyDogwoodclubgall-size_restricted.gif" alt="BBQ Seitan" style="width:300px;height:300px;"></left>
    </div> 
    <p>Here are your Ingredients:</p>
    <ul>
        <li>1 cup vital wheat gluten (you can buy this at health food shops or online - the internet is a magical place)</li>
        <li>2 tbsp nutritional yeast (yeah, you’ll be able to buy this at the same place at the vital wheat gluten)</li>
        <li>1 tbsp smoked paprika</li>
        <li>1 tsp garlic powder </li>
        <li>1 tbsp onion powder</li>
        <li>a good pinch of black pepper </li>
        <li>1 tsp liquid smoke (yeah, this too)</li>
        <li>1 tbsp soy sauce</li>
        <li>3/4 cup vegetable stock</li>
        <li>1/2 cup bbq sauce</li>
        
    </ul>
    <p>Here are your Instructions:</p>
    <ol>
        <li>Put all the ingredients (apart from the bbq sauce) in a bowl & mix it together into a ball. Don’t be afraid to get your hands in there & knead it if it’s misbehaving</li>
        <li>Pop the mixture onto a lightly greased oven tray & stretch it into the desired shape - if it’s a little unruly, don’t be surprised</li>
        <li>Pop the dish into the oven & bake for 20 minutes at 180℃ (356℉) </li>
        <li>Take the dish out, brush with the bbq sauce & bake for a further 5 minutes</li>
        <li>Take out the oven, cut into “ribs” & serve immediately with fries, roast tomatoes & a pot of bbq sauce for dipping</li>
    </ol>
</body> 
{% endblock %} 



