{% extends "layout.html" %}
{% block content %}

<style>
p {
    text-align: left;
    font-size: 45px;
    
}

li {
    font-size: 25px;
}

div {
    display: inline;
}
#submit {
    position: absolute;
    top: 40px;
    right: 40px;
}

</style>

<h1>Red Pepper Pasta</h1>
<body>
    <form class="submit" action= "/result"> 
        <input type="submit" name = "recipe" value="Save pasta">
    </form> 
    <div>
    <left><img src="http://www.bionaturae.com/uploads/2/2/5/8/22587222/6381491.png?262" alt="Red Pasta" style="width:300px;height:300px;"></left>
    <left><img src="https://media.giphy.com/media/nDVJ4WNXnWuFq/giphy.gif" style="width:300px;height:300px;"></left>
    </div> 
    <p>Here are your Ingredients:</p>
    <ul>
        <li>Splash of olive oil</li>
        <li>2 red peppers (deseeded & chopped into chunks)</li>
        <li>1 red onion (chopped)</li>
        <li>2 red chillies (deseeded) - If you like your food super spicy, add more chillies. If you're not keen on heat, don't add chillies! </li>
        <li>3 garlic cloves</li>
        <li>salt</li>
        <li>pepper</li> 
        
    </ul>
    <p>Here are your Instructions:</p>
    <ol>
        <li>Oil a baking tray & put the roasting ingredients on it</li>
        <li>Bake the roasting ingredients for 30 minutes at 180℃ (356℉)</li>
        <li>Take the vegetable out of the oven, let them cool down a bit, put them in the blender, pour in the almond milk & whizz them all up into a liquid</li>
        <li>Pour the liquid into a high sided frying pan, add the cornflour & nutritional yeast & stir everything together</li>
        <li>Add the cooked pasta into the pan & stir it all around so the pasta is well covered</li>
        <li>Serve immediately & garnish with basil leaves</li>
    </ol>
</body> 
{% endblock %}



